@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&family=Rubik+Beastly&family=Special+Elite&display=swap');
* {
  margin:0;
}

body {
  background-color: black;
  font-family:'Poiret One', cursive;
}

header {
  background-color: black;
  color: white;
  overflow:auto

}

header {
  float:left;
}

header{
  float:right;
}

.navbar {
  list-style-type:none;
  padding-left:0px;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  padding-right: 0px;

}

main {
  clear:both;
  height: 600px;
}
#Movie_Poster{
  width:80%;
}
#W5D1_Project{
  width:80%
}
.footer_left {
  width: 30%;
  float:left;
}

.footer_right {
  width:60%;
  float:right;
}
footer{
  background-color: black;
  color:white;
  overflow: auto;
  padding: 20px;
}
