@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Yanone+Kaffeesatz&display=swap');

*  {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin:auto;
}

body {
  background-color: black;
  font-family:'Poiret One', cursive;
}

.navbar {
  margin:0px;
  pading:30px;
}

div {
  padding:30px;
}


.navbar li {
  margin: 20px;
  pading: 20px;

}
h1 {
  text:white;
  padding:10px;
}

main {
  height: 300px;
}

#text {
  width:30%;
  display:block;
  margin:auto;
  }

#triangle {
  width:30%;
  display:block;
  margin:auto;
}
