@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Yanone+Kaffeesatz&display=swap');

*  {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin:auto;
  color:white;

}

body {
  background-color: black;
  font-family:'Poiret One', cursive;
}

.navbar {
  margin:0px;
  pading:0px;

}

div {
  padding:0px;
}

nav {
  padding-top:10px;
}


.navbar a {
  text-decoration:none;
  color:white;
}

.navbar {
  list-style-type:none;
  padding-left:130px;

}
.navbar li:hover {
  color:white;
}

h1 {
  display:inline-block;
  margin-left:295px;
  font-size:25px;
  color:white;
  text-decoration:underline;

}
p {
  margin-left:80px;
  font-size:20px;

}

.navbar li {
  display:inline-block;
  margin:20px;
  padding: 20px;
  color:white;
  font-size:30px;
  margin-left:5px;

}
.logo_container {
  bottom:0px;
}
main {
  height:100vh;
}

.article_content {
  width:0%;
  margin-left:0%;

}

.section_header {
  padding:10px;
  font-size:30pt;
  text-align:center;

}
.about{
  font-color:white;
}
.submit_button: {
  text-decoration: black;
  padding:10px;
  font-size:18px;
  margin:10px 20px;
}
.email {
  margin-left:px;
}

h2 {
  margin-left:285px;
}
form{
  color:white;
  margin-left:200pt;
}

#logo {
  width:15%;
  margin-top:50px;
  margin-left:355px;
  }

#triangle {
  width:85%;
  display:block;
  margin:auto;
  margin-top:70px;

}
